{% extends 'base.html' %}
{% block content %}
    <table class="table">

        <thead>

        <tr class="d-flex">

            <th scope="col" class="col-1">#</th>

            <th scope="col" class="col-2">Name</th>

            <th scope="col" class="col-1">Capacity</th>

            <th scope="col" class="col-2">Availability</th>

            <th scope="col" class="col-5" colspan="4">projector availability</th>

        </tr>

        </thead>

        <tbody>

        {% for conferenceroom in object_list %}

        <tr class="d-flex">

                <th scope="row" class="col-1">{{ conferenceroom.id }}</th>

                <td class="col-2">

                    <a href="/roomdetails/{{ conferenceroom.id }}/">{{ conferenceroom.name }}</a>
                </td>

                <td class="col-1">{{ conferenceroom.capacity }}</td>
                {% if room.reserved %}

                    <td class="col-2" style="color:red;">Booked</td>

                {% else %}

                    <td class="col-2" style="color:green;">Free</td>

                {% endif %}

                {% if conferenceroom.projector_availability %}

                    <td class="col-2" style="color:darkgreen;">&#9745;</td>

                {% else %}

                    <td class="col-2" style="color:red;">&#9746;</td>

                {% endif %}

                <td class="col-1">

                    <a href="/modifyroom/{{ conferenceroom.id }}/">edit</a>

                </td>

                <td class="col-1">

                    <a href="/deleteroom/{{ conferenceroom.id }}/">delete</a>

                </td>



            </tr>

        {% empty %}

            <tr>
                <td colspan="6">No rooms available</td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

{% endblock %}